<h1>Wakayama.rb Web-mrbc Compiler</h1>

<%= form_for(@compiler) do |f| %>
  <div class="field">
    <%= f.label ' mruby source code' %><br />
    <%= f.file_field :rb %>
  </div>
  <div class="field">
    <%= f.label ' compiler options' %><br />
    <%= f.text_field :options %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

